body {
    background-color: rgb(57, 87, 112);
    background-image: url("https://i.imgur.com/qgvjTVt.png");
}

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://i.imgur.com/J5zJV8F.jpg");
    background-size: cover;
}

.heroic {  
    padding: 1em 0 0 0;
    color: white;
    font-size: 80px;
    font-family: 'Raleway', sans-serif;
}

.heroicTwo {
  color: white;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
}
 
 svg {
     width: 680px;
     height: 500px;
}   

#button {
    position: relative;
    margin: auto;
    left: 46.5vw;
    padding: 20px 0 50px 0;
}

button {
    height: 40px;
    width: 100px;
    border-radius: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.1);

}

/*//////  B O A R D   A N I M A T I O N  //////*/

#board {
    display: flex;
    justify-content: center;
    animation-name: stretch;
    animation-duration: 2s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
   0% {
     transform: scale(1.05);
   }
   50% {
   }
   100% {
     transform: scale(1.1);
   }
}
